:org.apache.felix.configadmin.revision:=L"2"
alias="SENDLab_OpenEMS"
clientId="SENDLAB_SMARTMETER"
enabled=B"false"
password="smartmeternode"
service.factoryPid="Controller.Api.MQTT.custom"
service.pid="Controller.Api.MQTT.custom.44f1264c-150a-4d37-9990-96c01fbf3848"
uri="tcp://sendlab.nl:11884"
username="node"
